body {
	font: $mainFont;
	background-color: $bacgroundColor;
	color: $typeDefault;
}
// h1,h2,h3,h4,h5,h6
#{headings()} {
	font: $headFont;
	color: $headColor;
	font-weight: $bold;
}

strong {
	font-weight: $bold;
}

p{
	font-weight: $thin;
	padding-bottom: 10px;
}